.SmallWeather h3 {
  font-size: 40px;
}
.SmallWeathers {
  text-align: center;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media (max-width: 560px) {
  .SmallWeather {
    flex: 25%;
  }
}
