body {
  font-family: "Montserrat", sans-serif;
  background: #8ecdf7;
}

h2 {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 24px;
  margin: 20px 0;
}

p,
h4,
h3 {
  margin: 0;
}

p {
  font-size: 14px;

  margin: 0;
}

.container {
  max-width: 650px;
  margin-top: 20px;
}

.spinner {
  margin: 0 auto;
  display: block;
}

@media (max-width: 560px) {
  .container {
    text-align: center;
    max-width: 450px;
  }
}
